
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Identity
@using mixi.Modules.Database
@using mixi.Modules.Users
@page "/home"


<h3>Home</h3>

        

@code {
    private User _user = new();
    
    private PasswordHasher<object> _passwordHasher = new PasswordHasher<object>();
    
    protected override async Task OnInitializedAsync()
    {
  
        
      
        
        

        await base.OnInitializedAsync();

    }

}