@using Microsoft.AspNetCore.Identity
@using mixi.Components.Layout
@using mixi.Modules.Database
@using mixi.Modules.Users
@page "/home"
@rendermode InteractiveServer
@layout MainLayout

<h3>Home</h3>


<LoginPage @ref="_loginPage"> </LoginPage>
        

@code {

    LoginPage _loginPage = new LoginPage();
    protected override async Task OnInitializedAsync()
    {
  
        
      
        
        

        await base.OnInitializedAsync();

    }

}