@using mixi.Components.Layout
@using mixi.Modules.Enums
@using mixi.Modules.UI
@rendermode InteractiveServer

@layout MenuLayout

@inject SignUpPopup Signup

<div class="@(Signup.IsVisible ? "hidden" : "container")">
    <div class="text-white">
        CHARACTER CARD
        <div class="actionButton text-white"></div>
    </div>
    <div class="text-white">
        CHARACTER CARD
        <div class="actionButton text-white"></div>
    </div>
    <div class="text-white">
        CHARACTER CARD
        <div class="actionButton "></div>
    </div>
    <div class="text-white">
        CHARACTER CARD
        <div class="actionButton text-white"></div>
    </div>
    <div class="text-white">
        CHARACTER CARD
        <div class="actionButton text-white"></div>
    </div>
</div>

@code {

    
    
}