@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using mixi.Modules.Account
@using mixi.Modules.UI
@rendermode InteractiveAuto

@inject MenuPopup MenuPopup
@inject PdfPopup PdfPopup
@inject ProtectedSessionStorage Storage
@inject SignUpPopup Signup
@inject PasswordHash Password
@implements IDisposable


<div class="@(PdfPopup.IsVisible ? "popup" : "hidden")">
    <div class="pdfCloseButton" @onclick="(ClosePopup)">CLOSE</div>
    @if (ComponentType is not null)
    {
        <DynamicComponent Type="@ComponentType" Parameters="@Parameters" @ref="_component"/>
    }
</div>
    


@code {

    private  DynamicComponent? _component = null;
    private Type? ComponentType { get; set; }
    private IDictionary<string, object>? Parameters { get; set; }
    
    protected override void OnInitialized()
    {
        this.PdfPopup.IsVisibleChange += () => InvokeAsync(StateHasChanged);
        base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Password.LoggedIn is false)
        {
            PdfPopup.IsVisible = false;
            Password.LoggedIn = false;
            await Storage.SetAsync("IsLogged", false);
            await Storage.SetAsync("MenuIsVisible", false);
            StateHasChanged();
        }
    }

    public async void ShowComponent<T>(IDictionary<string, object>? parameters = null)
    {   
        ComponentType = typeof(T);
        Parameters = parameters;
        PdfPopup.IsVisible = true;
        Signup.IsLogged = true;
        MenuPopup.IsVisible = false;
        await Storage.SetAsync("PdfPopupIsVisible", PdfPopup.IsVisible);
        await Storage.SetAsync("IsLogged", Signup.IsLogged);
        
        StateHasChanged();
    }   
    


    public void Dispose()
    {
        this.PdfPopup.IsVisibleChange -= StateHasChanged;
    }

    private async void ClosePopup()
    {
        PdfPopup.IsVisible = false;
        await Storage.SetAsync("PdfPopupIsVisible", false);
    }


}