@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100%;
    position: fixed;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-weight: bold;
    font-family: "Courier", sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    color: white;
}
.hidden {
    display: none;
    visibility: hidden;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.popup {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1000;
    margin: 0;
}
.title {
    width: 90%;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 5rem;
    color: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    border-radius: 50px;
    background-color: black;
    filter: drop-shadow(5px 8px 30px black );
    flex-direction: row;
}
.loginBox {
    height: 400px;
    width: 400px;
    background-color: black;
    margin: auto;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    border-radius: 50px;
    filter: dropShadow(10px);
}
.titleImg {
    width: auto;
    height: 40vh;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
}
:root {
    --rarity-common: #808080;
    --rarity-uncommon: #8ef059;
    --rarity-rare: #5963f0;
    --rarity-insane: #f54c40;
    --rarity-epic: #b423f7;
    --rarity-legendary: gold;
    --popup-padding: 10px;
    --row-padding: 5px;
}

.data-box{
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 2px;
    
}

.closeButtonBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25%;
    
    
}

.data-box input{
    width: 14rem;
    padding: 5px ;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    transition: .4s;
}
.data-box input:focus{
    width: 14rem;
    padding: 5px ;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    border-radius: 10px;
    transition: .4s;
}

.data-box label{

    top:30px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.data-box input:focus ~ label,
.data-box input:focus ~ label   {
    top: 0px;
    left: 0;
    color: white;
    transition: 0.4s;
}   

.actionButton:hover:before, .info:hover:before, .settingsBtn:hover:before, .logButton-content:hover{
    border-radius: inherit;
    inset: 1px;
    transition: 0.4s;
    z-index: 0;
    color: white;
}


.closeButton-content:hover{
    border-radius: inherit;
    inset: 1px;
    transition: 0.4s;
    z-index: 0;
    color:red;
}

.closePdfButton-content:hover{
    border-radius: inherit;
    inset: 1px;
    transition: 0.4s;
    z-index: 0;
    color:red;
}




.actionButton-content, .info-content, .settingsBtn-content .logButton-content{
    color: white;
    border-radius: inherit;
    inset: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.closeButton-content{
    color: darkred;
    border-radius: inherit;
    inset: 1px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    letter-spacing: 5px;
    font-size:1.2rem ;
    transition: .4s;
}
.closePdfButton-content{
    color: darkred;
    border-radius: inherit;
    inset: 1px;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 5px;
    font-size:1.2rem ;
    transition: .4s;
}

.logButton-content{
    width: inherit;
    height: inherit;
    letter-spacing: 5px;
    font-size:1.2rem ;
    border-style: solid;
    border-radius: initial;
    transition: 0.4s;
    padding-left: 4px;
    padding-right: 4px;
}

.logButton{
    
    width: 12rem;
    height: fit-content;
    margin: 5px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 2.5rem;
    color: white;
    font-weight: bold;
    justify-content: center;
    opacity: 1;
    display: flex;
    padding: 2px;
    align-items: center;
}

.loginPopup {
    top: var(--popup-padding);
    left: var(--popup-padding);
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: auto;
}

.closeButton{
    color: white;
    padding: 2px;
    transition: 0.4s;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
}
.pdfCloseButton{
    color: red;
    padding: 2px;
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: large;
}

.closeButton:hover {
    color: rgb(255, 215, 137);
    padding: 2px;
    transition: 0.4s;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    right: 0;
}

.pdfCloseButton:hover{
    color: darkred;
    transition: 0.4s;
    font-size: xx-large;
}

.nameGenChoicePanel{
    height: 90%;
    width: 90%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.generatedName{
    color: #ffd789;
    background-color: black;
    height: fit-content;
    width: fit-content;
    letter-spacing: 5px;
    font-size: 1.2rem;
    border-style: solid;
    border-radius: initial;
    padding-right: 6px;
    padding-left: 6px;
}

.pdfChoicePanel{
    height: 90%;
    width: 90%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.signInPanel{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: black;
}

.loginButton{
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

.loginContainerBefore{
    width: 50%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 10px solid white;
    flex-shrink: inherit;
    transition: 500ms;
}
.loginContainerAfter{
    width: 35%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 10px solid white;
    transition: 500ms;
    flex-shrink: inherit;
    border-radius: 20px;
}

.pdf-viewer-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.pdfViewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pdfViewer .page {
    margin: 1em auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pdfViewer .textLayer {
    pointer-events: none;
}

.pdfViewer .annotationLayer section {
    pointer-events: auto;
}
#pdfContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.pdfHost {
    position: relative;
    width: 100%;
    height: 100vh; 
}