@using Mixi.Shared.Models.UI


@inject NotePopup Notes;

@implements IDisposable

<div class="@(Notes.IsVisible ? "popup" : "hidden")">
    @if (ComponentType is not null)
    {
        <DynamicComponent Type="@ComponentType" Parameters="@Parameters" @ref="_component"/>   
    }
</div>

@code {
    private DynamicComponent? _component = null;
    private Type? ComponentType { get; set; }
    private IDictionary<string, object>? Parameters { get; set; }

    protected override void OnInitialized()
    {
        this.Notes.IsVisibleChange += () => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }

    public async void ShowComponent<T>(IDictionary<string, object>? parameters = null)
    {
        ComponentType = typeof(T);
        Parameters = parameters;
        Notes.IsVisible = true;
        
        StateHasChanged();
    }

    public void Dispose()
    {
        this.Notes.IsVisibleChange -= StateHasChanged;
    }
}