@using Mixi.Shared.Models.Account
@using Mixi.Shared.Models.UI


@inject SignUpPopup SignUpPop
@inject Account Account

@implements IDisposable


<div class="@(SignUpPop.IsVisible ? "loginPopup" : "hidden")">
    <div class="closeButton" @onclick="HidePopup">X</div>
    @if (ComponentType is not null)
    {
        <DynamicComponent Type="@ComponentType" Parameters="@Parameters" @ref="_component"/>
    }
</div>




@code {

    private  DynamicComponent? _component = null;
    public Type? ComponentType { get; set; }
    public IDictionary<string, object>? Parameters { get; set; }
    
    protected override void OnInitialized()
    {
        this.SignUpPop.IsVisibleChange += () => InvokeAsync(StateHasChanged);
        this.SignUpPop.IsVisibleChange += () =>
        {
            Account.Password = String.Empty;
            Account.Username = String.Empty;
            Account.PasswordRepeat = String.Empty;
        };
        base.OnInitializedAsync();
    }
    

    
    public async void ShowComponent<T>(IDictionary<string, object>? parameters = null)
    {
        ComponentType = typeof(T);
        Parameters = parameters;
        SignUpPop.IsVisible = true; 
        StateHasChanged();
    }   
    


    public void Dispose()
    {
        this.SignUpPop.IsVisibleChange -= StateHasChanged;
    }

    private void HidePopup()
    {
        SignUpPop.IsVisible = false;
        StateHasChanged();
    }


}